<?xml version="1.0"?>
<data>
  <main>
    <resolutionx>800</resolutionx>
    <resolutiony>600</resolutiony>
    <sounds>True</sounds>
    <mixer_rate>8000</mixer_rate>
    <mixer_bitdepth>8</mixer_bitdepth>
    <mixer_channels>2</mixer_channels>
    <mixer_buffer>512</mixer_buffer>
    <fps>60</fps>
    <key_rate>60</key_rate>
    <lives_left>3</lives_left>
  </main>
  <levelmanager>
    <total_levels>255</total_levels>
    <start_x>123</start_x>
    <start_y>251</start_y>
    <player_startx>692</player_startx>
    <player_starty>260</player_starty>
  </levelmanager>
  <vision>
    <top_h>48</top_h>
    <bottom_h>32</bottom_h>
    <fullscreen>False</fullscreen>
  </vision>
  <enemy>
    <speed>8</speed>
    <walk_dist>150</walk_dist>
    <ammo_speed>1</ammo_speed>
    <boot_time>2000</boot_time>
    <cooldown>500</cooldown>
  </enemy>
  <player>
    <speed>8</speed>
    <ammo_speed>1</ammo_speed>
    <cooldown>250</cooldown>
    <blast_cool>2000</blast_cool>
    <blast_radius>72</blast_radius>
    <run_cool>2500</run_cool>
    <run_time>750</run_time>
  </player>
</data>
